server:
    port: 8765
spring:
    application:
        name: service-feign
eureka:
    client:
        serviceUrl:
            defaultZone: http://master:8761/eureka/
feign:
    hystrix:
        enabled: true